html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'poppins';
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin: 4em;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 4.1em;
    margin: 0;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.6rem;
    position: relative;
}
nav a.active:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 35%;
    border-bottom: 2px solid black;
    bottom: -5px;

}

/* Hero section */

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
}
.left-col {
    width: 45%;
}
.right-col {
    flex-grow: 1;
}
h1 {
    font-size: 5.2rem;
    font-family: 'playfair display';
    font-weight: normal;
    margin: 0;
}
.subhead {
    font-size: 1.8rem;
}
.cta-btns {
    margin: 5em 0;
}
.cta-btns, .secondary-cta {
    display: flex;
    gap: 2em;
}
.primary-cta {
    background-color: #F1E2D1;
    font-size :1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 1.9em;
    padding: 1em 2em;
}
.secondary-cta {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1em 0;
}
.secondary-cta svg {
    width: 20px;
}

.news { 
    display: flex;
    gap: 3em;
    padding: 5em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;
}
.news:before {
    content:"";
    position: absolute;
    background: url('../images/confetti.svg');
    height: 100px;
    width: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}
p.employees {
    font-weight: 200;
    font-size: 3.3rem;
    margin: 0;
    line-height: 100%;
}
p.details {
    margin: 0;
    font-size: 1.4rem;
}